
    <p>Greetings!</p>
<p>This is a request from one of our community user who is seeking a volunteer for help.</p>
<h2>Details:</h2>
<p>Volunteer type: {{type}} </p>
<p>Purpose: {{purpose}}</p>
<p>Date: {{date}}</p>
<p>Time: {{time}} hours(24 hour format)</p>
<p>Skills required: {{skills}}</p>
<p>If you are interested then please click on the interested link below. An email will be sent back to the user notifying him about your interest.</p>
<a href="http://localhost:3000/interested/{{volunteer_id}}/{{user_id}}"> Interested</a>

