<p>Greetings!</p>
<p>We have found the following volunteer:</p>
<h2>Volunteer Details</h2>
<p>Name: {{firstName}} {{lastName}}</p>
<p>Email: {{email}}</p>
<p>You can get in touch with this volunteer to carry out further discussions.</p>
<p>If you would like to confirm this volunteer as your final choice then please click on the link below.</p>
<a href ="http://localhost:3000/confirm/{{volunteer_id}}/{{user_id}}">Confirm volunteer</a>
<p>Regards.</p>
<p>I-Stem Team</p>
